* {
  text-align: center;
}

h1 {
  font-size: 60px;
}

p {
  font-size: 12px;
}

li {
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
  padding: 12px 8px 12px 40px;
}

li:nth-child(odd) {
  background-color: #A9A9A9;
}

li.checked  {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
  background: #ADD8E6;
}

.close:hover {
  background-color: red;
}

.close {

    right: 0;
    top: 0;
    padding: 2px 5px 2px 5px;
}
